<!doctype html>
<title>twitter oauth sampler</title>

<h1>twitter oauth sampler</h1>

<div style="display: flex;">
    <a href="{{ url_for('oauth1_0a.index') }}" style="margin-right: 10px;">OAuth 1.0a</a>
    <div style="margin-right: 10px;">OAuth 2.0</div>
</div>

<h2>OAuth 2.0 Authorization Code with PKCE</h2>

<a href="{{ url_for('oauth2_0.twitter_auth') }}">Authorize Twitter</a>

<h2>Authorized user</h2>
{% if authorized_user %}
  <h3>response status code</h3>
  <pre>{{ response_status }}</pre>
  <h3>response body</h3>
  <pre>{{ authorized_user }}</pre>
  <h3>response header</h3>
  <pre>{{ response_header }}</pre>
{% else %}
  <p>no data</p>
{% endif %}

<h2>Oauth2 authorization</h2>
{% if oauth2_error %}
  <h3>Error</h3>
  <pre>{{ oauth2_error }}</pre>
{% endif %}


<h3>Access token</h3>
{% if oauth2_access_token %}
  <pre>{{ oauth2_access_token }}</pre>
{% else %}
  <p>no data</p>
{% endif %}

<h3>Oauth session</h3>
{% if oauth2_code_verifier %}
<h4>code verifier</h4>
  <pre>{{ oauth2_code_verifier }}</pre>
<h4>state</h4>
  <pre>{{ oauth2_state }}</pre>
{% else %}
  <p>no data</p>
{% endif %}

<h3>Callback parameters</h3>
{% if callback_args %}
  <pre>{{ callback_args }}</pre>
{% else %}
  <p>no data</p>
{% endif %}
